<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="robots" content="noindex, nofollow">
	<title>Smart Map - Current Location Information</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	{{ craft.smartMap.js }}
	{% includeJsResource  'smartmap/js/debug.js' %}
	{% includeCssResource 'smartmap/css/debug.css' %}
</head>

<body>

	<table>
		<colgroup>
			<col width="120"></col>
			<col width="120"></col>
			<col width="120"></col>
		</colgroup>
		<tr>
			<th>Method</th>
			<th>Value</th>
			<th>Expires</th>
		</tr>
        {% set dateFormat = 'M. j, Y\ng:i:s A' %}
		<tr>
			<td class="field">Cookie IP:</td>
			<td>{{ craft.smartMap.debug.cookieValue }}</td>
			<td class="expires">{{ craft.smartMap.debug.cookieExpires|date(dateFormat)|nl2br }}</td>
		</tr>
		<tr>
			<td class="field">Cache Data:</td>
			<td><pre>{{ craft.smartMap.debug.cacheValue }}</pre></td>
			<td class="expires">{{ craft.smartMap.debug.cacheExpires|date(dateFormat)|nl2br }}</td>
		</tr>
	</table>

	<table>
		<colgroup>
			<col width="100"></col>
			<col width="200"></col>
		</colgroup>
		<tr>
			<th colspan="2">Detected via {{ craft.smartMap.debug.geoService }}</th>
		</tr>
		<tr>
			<td class="field">IP address:</td>
			<td id="php-ip">{{ visitor.ip }}</td>
		</tr>
		<tr>
			<td class="field">City:</td>
			<td id="php-city">{{ visitor.city }}</td>
		</tr>
		<tr>
			<td class="field">State:</td>
			<td id="php-state">{{ visitor.state }}</td>
		</tr>
		<tr>
			<td class="field">Zip:</td>
			<td id="php-zip">{{ visitor.zipcode }}</td>
		</tr>
		<tr>
			<td class="field">Country:</td>
			<td id="php-country">{{ visitor.country }}</td>
		</tr>
	</table>

	<table>
		<colgroup>
			<col width="60"></col>
			<col width="100"></col>
			<col width="100"></col>
		</colgroup>
		<tr>
			<th>&nbsp;</th>
			<th>Latitude</th>
			<th>Longitude</th>
		</tr>
		<tr>
			<td class="field">PHP:</td>
			<td class="coords" id="php-latitude">{{ visitor.latitude|number_format(6) }}</td>
			<td class="coords" id="php-longitude">{{ visitor.longitude|number_format(6) }}</td>
		</tr>
		<tr>
			<td class="field">JS:</td>
			<td class="coords" id="js-latitude">&nbsp;</td>
			<td class="coords" id="js-longitude">&nbsp;</td>
		</tr>
	</table>

	<table>
		<colgroup>
			<col width="130"></col>
			<col width="120"></col>
		</colgroup>
		<tr>
			<th>$_SERVER</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<td class="field">REMOTE_ADDR</td>
			<td>{{ craft.smartMap.debug.remote_addr }}</td>
		</tr>
	</table>

	<div id="where-am-i"></div>

</body>
</html>