<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="robots" content="noindex, nofollow">
	<title>Smart Map - Current Location Information</title>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
	{% includeJsResource  'smartmap/js/debug.js' %}
	{% includeCssResource 'smartmap/css/debug.css' %}
</head>

<body>

	<table>
		<colgroup>
			<col width="100"></col>
			<col width="200"></col>
		</colgroup>
		<tr>
			<th colspan="2">Detected via PHP</th>
		</tr>
		<tr>
			<td class="field">IP address:</td>
			<td id="php-ip">{{ my.ip }}</td>
		</tr>
		<tr>
			<td class="field">City:</td>
			<td id="php-city">{{ my.city }}</td>
		</tr>
		<tr>
			<td class="field">State:</td>
			<td id="php-state">{{ my.region_name }}</td>
		</tr>
		<tr>
			<td class="field">Zip:</td>
			<td id="php-zip">{{ my.zipcode }}</td>
		</tr>
		<tr>
			<td class="field">Country:</td>
			<td id="php-country">{{ my.country_name }}</td>
		</tr>
	</table>

	<table>
		<colgroup>
			<col width="90"></col>
			<col width="110"></col>
			<col width="110"></col>
		</colgroup>
		<tr>
			<th>&nbsp;</th>
			<th>PHP</th>
			<th>JavaScript</th>
		</tr>
		<tr>
			<td class="field">Latitude:</td>
			<td class="coords" id="php-latitude">{{ my.latitude|number_format(6) }}</td>
			<td class="coords" id="js-latitude">&nbsp;</td>
		</tr>
		<tr>
			<td class="field">Longitude:</td>
			<td class="coords" id="php-longitude">{{ my.longitude|number_format(6) }}</td>
			<td class="coords" id="js-longitude">&nbsp;</td>
		</tr>
	</table>

	<div id="where-am-i"></div>

</body>
</html>