{% import '_includes/forms' as forms %}
{% includeJsResource  'smartmap/js/settings.js' %}
{% includeCssResource 'smartmap/css/settings.css' %}

{% set docsUrl      = 'https://www.doublesecretagency.com/plugins/smart-map/docs' %}
{% set apiKeysUrl   = 'https://www.doublesecretagency.com/plugins/smart-map/docs/get-a-google-api-key' %}

{% set supportEmail = '<a href="mailto:support@doublesecretagency.com?subject=Smart%20Map%20Feedback">support@doublesecretagency.com</a>' %}

<h2>{{ "Documentation & Feedback"|t }}</h2>
<p>{{ 'All documentation can be found at <a href="{url}" target="_blank">doublesecretagency.com</a>.'|t({url:docsUrl})|raw }}</p>
<p>{{ "You can reach us at {supportEmail}. All questions, comments, and suggestions are welcome!"|t({supportEmail:supportEmail})|raw }}</p>
<hr />

<h2>{{ "Google Maps API Keys"|t }}</h2>

<p>{{ "Using API keys is optional, but you may find it beneficial in many situations:"|t }}</p>
<ul class="smartmap-api-keys">
	<li>{{ "If your website is on a shared server, or"|t }}</li>
	<li>{{ "If you expect extremely high traffic to your website."|t }}</li>
</ul>
<p>{{ 'To get your Google API keys, <a href="{url}" target="_blank">follow these instructions...</a>'|t({url:apiKeysUrl})|raw }}</p>

<div class="smartmap-field-container" id="smartmap-fields-google">

	{{ forms.textField({
		label: "Google API Server Key"|t,
		instructions: 'Used for address lookups'|t,
		id: 'googleServerKey',
		name: 'googleServerKey',
		value: settings.googleServerKey,
		errors: settings.getErrors('googleServerKey')
	}) }}

	{{ forms.textField({
		label: "Google API Browser Key"|t,
		instructions: 'Used for static & dynamic map rendering'|t,
		id: 'googleBrowserKey',
		name: 'googleBrowserKey',
		value: settings.googleBrowserKey,
		errors: settings.getErrors('googleBrowserKey')
	}) }}

</div>

<hr />

<h2>{{ "Geolocation"|t }}</h2>

<p>{{ "Depending on the purpose of your website, you may need to use <strong>IP detection</strong> and <strong>geolocation</strong> to automatically detect where your site visitors are located."|t|raw }}</p>

{% macro geolocationOption(label, value, current, description) %}
	{% if 'none' == value %}
		{% set checked = (current not in ['freegeoip','maxmind']) %}
	{% else %}
		{% set checked = (current == value) %}
	{% endif %}
	<li>
		<label><input type="radio" class="smartmap-geolocation-radio" name="geolocation" value="{{ value }}" {{ checked ? 'checked="checked"' }} />{{ label|t }}</label>
		<p>{{ description|t }}</p>
	</li>
{% endmacro %}
{% import _self as render %}

<h2>{{ "Select a service..."|t }}</h2>

<ul class="smartmap-geolocation-options">
	{{ render.geolocationOption('None', 'none', settings.geolocation,
	    'Geolocation is disabled.'
	) }}
	{{ render.geolocationOption('FreeGeoIp.net', 'freegeoip', settings.geolocation,
	    'A free service, FreeGeoIp.net can perform IP address lookups automatically.'
	) }}
	{{ render.geolocationOption('MaxMind', 'maxmind', settings.geolocation,
	    'A paid subscription service, MaxMind provides more accurate results, with a greater guarantee of uptime.'
	) }}
</ul>

<div class="smartmap-field-container" id="smartmap-fields-maxmind">
	<h2>{{ "MaxMind Configuration"|t }}</h2>
	<p>{{ '<strong>Step 1:</strong> Subscribe to a <a href="{url}" target="_blank">Web Service...</a>'|t({url:'https://www.maxmind.com/en/web_services'})|raw }}</p>
	<p>{{ '<strong>Step 2:</strong> Which <a href="{url}" target="_blank">Web Service</a> have you subscribed to?'|t({url:'https://www.maxmind.com/en/account'})|raw }}</p>

	{{ forms.selectField({
		id: 'maxmindService',
		name: 'maxmindService',
		options: {
			''             : '(service disabled)'|t,
			'country'      : 'GeoIP2 Country',
			'city'         : 'GeoIP2 City',
			'city_isp_org' : 'GeoIP2 City/ISP/Org',
			'omni'         : 'GeoIP2 Omni',
		},
		value: settings.maxmindService,
	}) }}
	{#
		toggle: true,
		targetPrefix: 'section'
		---
		errors: settings.getErrors('maxmindService')
	#}

	<p>{{ '<strong>Step 3:</strong> Copy your <a href="{url}" target="_blank">security access information</a> and paste it here...'|t({url:'https://www.maxmind.com/en/my_license_key'})|raw }}</p>

	{{ forms.textField({
		label: "User ID"|t,
		id: 'maxmindUserId',
		name: 'maxmindUserId',
		value: settings.maxmindUserId,
		errors: settings.getErrors('maxmindUserId')
	}) }}

	{{ forms.textField({
		label: "License Key"|t,
		id: 'maxmindLicenseKey',
		name: 'maxmindLicenseKey',
		value: settings.maxmindLicenseKey,
		errors: settings.getErrors('maxmindLicenseKey')
	}) }}
</div>

<p>{{ "If you have recently switched services, clear old geolocation results by visiting:"|t }}&nbsp; <strong><a href="{{ url('settings') }}">{{ "Settings"|t }} &nbsp;&gt;&nbsp; {{ "Clear Caches"|t }} &nbsp;&gt;&nbsp; {{ "Data caches"|t }}</a></strong></p>

<div class="smartmap-field-container">
	<h3>{{ "WARNING"|t }}</h3>
	<p>{{ "FreeGeoIp.net may experience unexpected downtime, <u>which could have a negative impact on your website!</u> It is highly recommended <strong>not</strong> to rely on FreeGeoIp.net."|t|raw }}</p>
	<p>{{ "<strong>If you require geolocation, MaxMind is a far more reliable service.</strong>"|t|raw }}</p>
</div>

<hr />

<h2>{{ "Plugin Debug Page"|t }}</h2>

<p>{{ "Sometimes you need to know a little more about what the plugin is doing. This special page can give you insight into the geolocation capabilities of your site."|t }}</p>

{% set debugRoute = siteUrl(settings.debugRoute) %}

{{ forms.textField({
	instructions: '<a href="'~debugRoute~'" target="_blank">'~debugRoute~'</a>',
	id: 'debugRoute',
	name: 'debugRoute',
	value: settings.debugRoute,
	errors: settings.getErrors('debugRoute')
}) }}
