{% extends '_layouts/cp' %}

{% set title = 'Introducing Smart Map 2.0'|t %}

{% set content %}
	<h2>New Features:</h2>
	<ul style="margin-left:20px; list-style:disc;">
		<li>Drag &amp; Drop Marker Pins</li>
		<li>Improved Address Selection UI</li>
		<li>Refactored Map Generator</li>
		<li>Full Range of Map API Options</li>
		<li>Fully Extendable via JavaScript</li>
		<li>Improved Error Handling</li>
		<li>Optional Integrations
			<ul style="margin-left:20px; list-style:circle;">
				<li>Google Maps for Business</li>
				<li>MaxMind Geolocation Service</li>
			</ul>
		</li>
	</ul>
	<h3>Coming Soon</h3>
	<ul style="margin-left:20px; list-style:disc;">
		<li>Polygons</li>
	</ul>
{% endset %}