{% extends '_layouts/cp' %}
{% set title = 'Welcome to Smart Map!' %}

{% set linkChangeLog = 'https://www.doublesecretagency.com/plugins/smart-map/changelog' %}
{% set linkNewField  = url('settings/fields/new') %}

{% set content %}
    <div style="text-align:center; margin:0 auto;">
        <img src="{{ resourceUrl('smartmap/icon.svg') }}">
        <h2>Thanks for using Smart Map!</h2>
        <p>Feel free to <a href="mailto:support@doublesecretagency.com?subject=Smart+Map+~+Fresh+Installation" target="_blank">contact us</a> with any feature requests, bug reports, or suggestions.</p>
        <p>
            <a href="{{ linkNewField }}"><button class="btn submit">Create an Address Field</button></a>
            &nbsp;&nbsp;&nbsp;
            <a href="{{ linkChangeLog }}" target="_blank"><button class="btn submit">What's New...</button></a>
        </p>
    </div>
{% endset %}