{% extends '_layouts/cp' %}
{% set title = 'Welcome to Smart Map (DEPRECATED)'|t('smart-map') %}

{% set content %}
    <p><strong>Thanks for installing Smart Map!</strong> This plugin is deprecated, however... please update to the <a href="https://plugins.craftcms.com/google-maps" target="_blank">Google Maps plugin</a> as soon as possible.</p>
    <div class="pane">
        <h2>Smart Map has been replaced by Google Maps</h2>
        <p>As of February 2021, the Smart Map plugin has been completely rebuilt and replaced with the new <strong>Google Maps plugin for Craft CMS</strong>.</p>
        <p>Please update to the <a href="https://plugins.craftcms.com/google-maps" target="_blank">Google Maps plugin</a> as soon as possible. For more details, see <a href="https://www.doublesecretagency.com/blog/smart-map-is-dead-long-live-google-maps" target="_blank">the blog announcement...</a></p>
    </div>
    <div class="btngroup" style="display:inline-block; margin-right:10px;">
        <a class="btn submit" href="https://plugins.craftcms.com/google-maps">See the new Google Maps plugin</a>
    </div>
    <div class="btngroup" style="display:inline-block;">
        <a class="btn" href="{{ cpUrl('settings/fields/new') }}">{{ 'Create an Address field with Smart Map'|t('smart-map') }}</a>
    </div>
{% endset %}
