
{% if field.settings %}
	{% set smartMapSubfields = [] %}
	{% for subfield,settings in field.settings.layout %}
		{% if settings.enable %}
			{% set smartMapSubfields = smartMapSubfields|merge([subfield]) %}
		{% endif %}
	{% endfor %}
{% else %}
	{% set smartMapSubfields = ['street1','street2','city','state','zip','country','lat','lng'] %}
{% endif %}

{% for subfield in smartMapSubfields %}
	{% set optionHandle = field.handle ~ '[' ~ subfield ~ ']' %}
	{% set optionLabel  = field.name ~ ' (' ~ craft.smartMap.labelFromHandle(subfield) ~ ')' %}
	{% set match = (key in feed.fieldMapping|keys and feed.fieldMapping[key] == optionHandle) %}
	<option value="{{ optionHandle }}" {{ match ? 'selected' }}>{{ optionLabel }}</option>
{% endfor %}