
{% if f.settings %}
	{% set smartMapSubfields = f.settings.layout|keys %}
{% else %}
	{% set smartMapSubfields = ['street1','street2','city','state','zip','country','lat','lng'] %}
{% endif %}

{% for subfield in smartMapSubfields %}
	{% set optionHandle = f.handle ~ '[' ~ subfield ~ ']' %}
	{% set optionLabel  = f.name ~ ' (' ~ craft.smartMap.labelFromHandle(subfield) ~ ')' %}
	{% set match = (column|lower in [optionLabel|lower, subfield|lower] ) %}
	<option value="{{ optionHandle }}" {{ match ? 'selected' }}>{{ optionLabel }}</option>
{% endfor %}