
{# Format street address according to country format #}
{% macro formatStreetAddress(a) %}
	{%- spaceless -%}
		{# Abbreviate variables #}
		{% set streetNumber = (a.street_number is defined ? a.street_number) %}
		{% set streetName   = (a.route is defined ? a.route) %}
		{# Countries whose street number preceeds the name #}
		{% set numberFirst = [
			'Australia',
			'Canada',
			'France',
			'Hong Kong',
			'India',
			'Ireland',
			'Malaysia',
			'Malaysia',
			'New Zealand',
			'Pakistan',
			'Singapore',
			'Sri Lanka',
			'Taiwan',
			'Thailand',
			'United Kingdom',
			'United States',
		] %}
		{# If one of those countries, use that format #}
		{% if a.country in numberFirst %}
			{{ streetNumber ~ ' ' ~ streetName }}
		{% else %}
			{{ streetName ~ ' ' ~ streetNumber }}
		{% endif %}
	{%- endspaceless -%}
{% endmacro %}
