
div.function-definition {
	padding-bottom: 10px;
}
div.function-declaration {
	font-size: 16px;
	font-weight: bold;
}
div.function-description {
	margin-top: 10px;
}
div.function-parameters {}
div.function-returns {}

table.parameters {
	width: 100%;
	border: 1px solid #333333;
}
table.parameters th {
	font-weight: bold;
	color: #ffffff;
	background-color: #333333;
	text-align: left;
	padding: 2px 8px;
}
table.parameters td {
	padding: 2px 8px;
}
table.parameters td.parameter {
	font-weight: bold;
	background: #fdf6e3;
}
table.parameters td.default {
	color: hsl(8, 67%, 57%);
}
table.parameters td.description {
	
}

code {
	font-family: Menlo, monospace;
	font-size: 0.85em;
	border-radius: 10px;
	padding: 2px 5px;
	white-space: nowrap;
}
code.function-example {
	margin-top: 10px;
}

/* "Borrowed" from Craft docs */
h3 {
	margin: 1em 0 0.67em;
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1.4;
}
h3 code {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
	border-radius: 0;
	padding: 0;
	color: inherit;
}

pre {
	color: hsl(8, 67%, 57%);
	background: #fdf6e3;
	margin: 1em 0;
	padding: 1em 1.25em;
	overflow: auto;
	-webkit-box-shadow: inset 1px 0 rgba(0,0,0,0.06);
	box-shadow: inset 1px 0 rgba(0,0,0,0.06);
}
pre code {
	padding: 0;
	white-space: pre;
}