
div.smartmap-field-container {
	margin: 10px 0;
	padding: 14px;
	background: #eef0f1;
	border: 1px solid #d5d7d8;
}
div#settings-smartmap-fields-maxmind {
	display: none;
}

input.smartmap-geolocation-radio {
	margin-right: 7px;
}

ul.smartmap-api-keys {
	list-style: disc;
	margin: 0px 0px 16px 40px;
}
ul.smartmap-api-keys li {
	margin-top: 6px;
}

ul.smartmap-geolocation-options {
	margin-left: 21px;
}
ul.smartmap-geolocation-options li {
	margin-top: 11px;
}
ul.smartmap-geolocation-options label {
	font-weight: bold;
}
ul.smartmap-geolocation-options p {
	margin: 3px 0px 0px 20px;
}