<div class="smartmap-fieldtype-layout-values"><input type="hidden" name="layout" value="" /></div>
<div class="smartmap-fieldtype-layout-table">
	<table class="shadow-box editable">
		<thead>
			<tr>
				<th class="header" scope="col">{{ "Enable"|t }}</th>
				<th class="header" scope="col">{{ "Width"|t }} (%)</th>
				<th class="header" scope="col">{{ "Label"|t }}</th>
				<th class="header"></th>
			</tr>
		</thead>
		<tbody class="layout-table-rows">
			{% for subfield,subsetting in settings.layout %}
				{% set checked = (1 == subsetting.enable ? 'checked="checked"') %}
				<tr class="layout-table-subfield" data-subfield="{{ subfield }}">
					<td class="layout-table-enable"><input type="checkbox" value="1" {{ checked }} /></td>
					<td class="layout-table-width"><input type="number" value="{{ subsetting.width }}" /></td>
					<td class="layout-table-label">{{ craft.smartMap.labelFromHandle(subfield) }}</td>
					<td class="thin action"><a class="move icon" title="{{ "Reorder"|t }}"></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>