<div class="fld-tab">
	<div class="tabs">
		<div class="tab sel">
			<span>{{ "Field Layout"|t }}</span>
		</div>
	</div>
	<div class="fld-tabcontent">
		<div class="fld-container" id="blueprint-street1">
			<div class="fld-field">
				<span>{{ "Street Address"|t }}</span>
			</div>
		</div>
		<div class="fld-container" id="blueprint-street2">
			<div class="fld-field">
				<span>{{ "Apartment or Suite"|t }}</span>
			</div>
		</div>
		<div class="fld-container" id="blueprint-city">
			<div class="fld-field">
				<span>{{ "City"|t }}</span>
			</div>
		</div>
		<div class="fld-container" id="blueprint-state">
			<div class="fld-field">
				<span>{{ "State"|t }}</span>
			</div>
		</div>
		<div class="fld-container" id="blueprint-zip">
			<div class="fld-field">
				<span>{{ "Zip Code"|t }}</span>
			</div>
		</div>
		<div class="fld-container" id="blueprint-country">
			<div class="fld-field">
				<span>{{ "Country"|t }}</span>
			</div>
		</div>
		<div class="fld-container" id="blueprint-lat">
			<div class="fld-field">
				<span>{{ "Latitude"|t }}</span>
			</div>
		</div>
		<div class="fld-container" id="blueprint-lng">
			<div class="fld-field">
				<span>{{ "Longitude"|t }}</span>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>