<div id="layout-table">
	<table class="shadow-box editable">
		<thead>
			<tr>
				<th class="header" scope="col">{{ "Enable"|t }}</th>
				<th class="header" scope="col">{{ "Width (%)"|t }}</th>
				<th class="header" scope="col">{{ "Label"|t }}</th>
				<th class="header"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="layout-table-row" id="layout-table-street1">
				<td class="layout-table-enable"><input name="" type="checkbox" value="1" checked="checked" /></td>
				<td class="layout-table-width"><input type="number" value="100" /></td>
				<td class="layout-table-label">{{ "Street Address"|t }}</td>
				<td class="thin action"><a class="move icon" title="{{ "Reorder"|t }}"></a></td>
			</tr>
			<tr class="layout-table-row" id="layout-table-street2">
				<td class="layout-table-enable"><input name="" type="checkbox" value="1" checked="checked" /></td>
				<td class="layout-table-width"><input type="number" value="100" /></td>
				<td class="layout-table-label">{{ "Apartment or Suite"|t }}</td>
				<td class="thin action"><a class="move icon" title="{{ "Reorder"|t }}"></a></td>
			</tr>
			<tr class="layout-table-row" id="layout-table-city">
				<td class="layout-table-enable"><input name="" type="checkbox" value="1" checked="checked" /></td>
				<td class="layout-table-width"><input type="number" value="50" /></td>
				<td class="layout-table-label">{{ "City"|t }}</td>
				<td class="thin action"><a class="move icon" title="{{ "Reorder"|t }}"></a></td>
			</tr>
			<tr class="layout-table-row" id="layout-table-state">
				<td class="layout-table-enable"><input name="" type="checkbox" value="1" checked="checked" /></td>
				<td class="layout-table-width"><input type="number" value="15" /></td>
				<td class="layout-table-label">{{ "State"|t }}</td>
				<td class="thin action"><a class="move icon" title="{{ "Reorder"|t }}"></a></td>
			</tr>
			<tr class="layout-table-row" id="layout-table-zip">
				<td class="layout-table-enable"><input name="" type="checkbox" value="1" checked="checked" /></td>
				<td class="layout-table-width"><input type="number" value="35" /></td>
				<td class="layout-table-label">{{ "Zip Code"|t }}</td>
				<td class="thin action"><a class="move icon" title="{{ "Reorder"|t }}"></a></td>
			</tr>
			<tr class="layout-table-row" id="layout-table-country">
				<td class="layout-table-enable"><input name="" type="checkbox" value="1" checked="checked" /></td>
				<td class="layout-table-width"><input type="number" value="100" /></td>
				<td class="layout-table-label">{{ "Country"|t }}</td>
				<td class="thin action"><a class="move icon" title="{{ "Reorder"|t }}"></a></td>
			</tr>
			<tr class="layout-table-row" id="layout-table-lat">
				<td class="layout-table-enable"><input name="" type="checkbox" value="1" checked="checked" /></td>
				<td class="layout-table-width"><input type="number" value="50" /></td>
				<td class="layout-table-label">{{ "Latitude"|t }}</td>
				<td class="thin action"><a class="move icon" title="{{ "Reorder"|t }}"></a></td>
			</tr>
			<tr class="layout-table-row" id="layout-table-lng">
				<td class="layout-table-enable"><input name="" type="checkbox" value="1" checked="checked" /></td>
				<td class="layout-table-width"><input type="number" value="50" /></td>
				<td class="layout-table-label">{{ "Longitude"|t }}</td>
				<td class="thin action"><a class="move icon" title="{{ "Reorder"|t }}"></a></td>
			</tr>
		</tbody>
	</table>
</div>