<div class="fld-tab">
	<div class="tabs">
		<div class="tab sel">
			<span>{{ "Field Layout"|t }}</span>
		</div>
	</div>
	<div class="fld-tabcontent blueprint-panel">
		<div class="fld-container blueprint-street1">
			<div class="fld-field">
				<span>{{ craft.smartMap.labelFromHandle('street1') }}</span>
			</div>
		</div>
		<div class="fld-container blueprint-street2">
			<div class="fld-field">
				<span>{{ craft.smartMap.labelFromHandle('street2') }}</span>
			</div>
		</div>
		<div class="fld-container blueprint-city">
			<div class="fld-field">
				<span>{{ craft.smartMap.labelFromHandle('city') }}</span>
			</div>
		</div>
		<div class="fld-container blueprint-state">
			<div class="fld-field">
				<span>{{ craft.smartMap.labelFromHandle('state') }}</span>
			</div>
		</div>
		<div class="fld-container blueprint-zip">
			<div class="fld-field">
				<span>{{ craft.smartMap.labelFromHandle('zip') }}</span>
			</div>
		</div>
		<div class="fld-container blueprint-country">
			<div class="fld-field">
				<span>{{ craft.smartMap.labelFromHandle('country') }}</span>
			</div>
		</div>
		<div class="fld-container blueprint-lat">
			<div class="fld-field">
				<span>{{ craft.smartMap.labelFromHandle('lat') }}</span>
			</div>
		</div>
		<div class="fld-container blueprint-lng">
			<div class="fld-field">
				<span>{{ craft.smartMap.labelFromHandle('lng') }}</span>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>