{% import '_includes/forms' as forms %}

<div class="field smartmap-fieldtype">
	<div class="heading">
		<label>{{ "Address Field Layout"|t }}</label>
		<div class="instructions">
			<p>{{ "Manage how the subfields will be arranged."|t }}</p>
		</div>
	</div>
	{% include 'smartmap/address/_field-layout-table.html' %}
	{% include 'smartmap/address/_field-layout-blueprint.html' %}
</div>
<hr style="clear:both"/>
<div class="field smartmap-fieldtype">
	<div class="heading">
		<label>{{ 'Set defaults for "Drag Pin" modal map'|t }}</label>
		<div class="instructions">
			<p>{{ 'When specifying a location via the "Drag Pin" modal, you may set default coordinates and zoom level.'|t }}</p>
		</div>
	</div>
	{{ forms.checkboxField({
		label: 'Set a default pin location for modal?'|t,
		id: 'dragPinDefault',
		name: 'dragPinDefault',
		checked: settings.dragPinDefault ?? false
	}) }}
</div>

{% set defaultLat  = settings.dragPinLatitude  ?? '0' %}
{% set defaultLng  = settings.dragPinLongitude ?? '0' %}
{% set defaultZoom = settings.dragPinZoom      ?? '4' %}

<div id="dragpin-defaults" class="smartmap-dragpin-defaults" {{ not settings.dragPinDefault ? 'style="display:none"'|raw }}>
	<div class="default-value lat" style="width:41%; margin-right:1%;">
		{{ forms.textField({
			label: 'Latitude'|t,
			id: 'latitude',
			name: 'dragPinLatitude',
			value: defaultLat,
			errors: settings.getErrors('dragPinLatitude')
		}) }}
	</div>
	<div class="default-value lng" style="width:41%; margin-right:1%;">
		{{ forms.textField({
			label: 'Longitude'|t,
			id: 'longitude',
			name: 'dragPinLongitude',
			value: defaultLng,
			errors: settings.getErrors('dragPinLongitude')
		}) }}
	</div>
	<div class="default-value zoom" style="width:16%;">
		{{ forms.textField({
			label: 'Zoom'|t,
			id: 'zoom',
			name: 'dragPinZoom',
			value: defaultZoom,
			errors: settings.getErrors('dragPinZoom')
		}) }}
	</div>
	<div id="dragpin-map" class="map"></div>
</div>