<style type="text/css">
div.smartmap-subfields .city {
	float: left;
	width: 50%;
}
div.smartmap-subfields .state {
	float: left;
	width: 14%;
	margin-left: 1%;
}
div.smartmap-subfields .zip {
	float: left;
	width: 34%;
	margin-left: 1%;
}

div.smartmap-subfields .lat {
	float: left;
	width: 50%;
}
div.smartmap-subfields .lng {
	float: left;
	width: 49%;
	margin-left: 1%;
}
</style>

{#
MAKE STYLES INLINE!

USE-CASE:
If someone is using two Address fields, and they are following different layouts.

I know it's controversial, but this is the right answer.
#}

{% import '_includes/forms' as forms %}

{% set subfieldSettings = {
	'street1' : 'Street Address',
	'street2' : 'Apartment or Suite',
	'city'    : 'City',
	'state'   : 'State',
	'zip'     : 'Zip Code',
	'country' : 'Country',
	'lat'     : 'Latitude',
	'lng'     : 'Longitude',
} %}

<div class="smartmap-field" id="{{ handle }}">
	<div class="smartmap-top-right">
		<span class="smartmap-link smartmap-search-addresses">{{ "Search Addresses"|t }}</span>
		 &nbsp;&bull;&nbsp; 
		<span class="smartmap-link smartmap-drag-pin">{{ "Drag Pin"|t }}</span>
	</div>
	<div class="smartmap-subfields">
	
		{% for subfield,label in subfieldSettings %}
			<div class="{{ subfield }}" style="">
				{{ forms.textField({
					placeholder: label|t,
					id: handle~'-'~subfield,
					name: handle~'['~subfield~']',
					value: attribute(_context, subfield),
				}) }}
			</div>
		{% endfor %}

	</div>
</div>

<div class="clear"></div>